@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@500;600;700&display=swap");

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  position: absolute;
  margin-top: 70px;
  margin-left: 100px;
  /* box-shadow: 20px 30px 1px #97bf11; */
  background-color: #fff;
}

/* tr {
  display: flex;
  flex-direction: column;
} */

.details-img {
  border: 30px;
  width: 550px;
  height: 550px;
}

.desc-div {
  width: 30%;
  height: 300px;
}

.desc-div h1 {
  font-weight: bolder;
  font-size: 39px;
  text-align: right;
  cursor: pointer;
  padding: 0.2rem;
}

.desc-div h1:hover {
  border-bottom: 3px solid #97bf11;
  transition: 0.5s ease;
}

.desc-div h6 {
  font-weight: 500;
  font-size: 1rem;
  text-align: right;
}

.desc-div .bg-silver {
  background-color: #e2e3e5;
  max-width: 100%;
}

/* table {
  width: 100%;
}

table td {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
} */

.return-btn {
  background-color: #97bf11;
  width: 90px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 15px 50px 30px;
}

.det-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 2rem;
  border-bottom: 3px solid #97bf11;
}

.res-btn {
  width: 100px;
  height: 60px;
  background-color: #97bf11;
  color: #fff;
  position: absolute;
  right: 15px;
  margin-top: 30px;
  border-radius: 25% 10%;
}
