.navbar {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  font-size: 1.5rem;
  background: none;
  background-color: #97bf0f;
  width: 40px;
  height: 40px;
}

.nav-menu {
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  background-color: rgb(148, 189, 15);
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  background-color: #97bf0f;
}

.nav-text a:hover {
  background-color: #81a116;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.log-out {
  position: absolute;
  left: 40%;
  bottom: 10%;
}

.log-out-link {
  font-size: 30px;
}
